services:
  php:
    env_file:
      - ../.env
    build:
        context: ..
        dockerfile: docker/php/Dockerfile
        target: dev
    volumes:
      - '../apps/back:/usr/src/app'
      - '../.env:/usr/src/app/.env'
    restart: unless-stopped
    command: [ "php-fpm" ]
    depends_on:
      db:
        condition: service_healthy

  nginx:
    build:
        context: ..
        dockerfile: docker/nginx/Dockerfile
        target: dev
    ports:
      - 80:80
    volumes:
      - ./nginx/conf/nginx.conf:/etc/nginx/nginx.dev.conf:ro
      - ../apps/back/public:/usr/src/app/public
    restart: unless-stopped

  db:
    build:
        context: ..
        dockerfile: docker/mysql/Dockerfile
    restart: unless-stopped
    volumes:
      - db-data:/var/lib/mysql
    healthcheck:
        test: [ CMD, mysqladmin, ping, --silent ]
        interval: 10s
        timeout: 5s
        retries: 10
        start_period: 30s
    ports:
      - 3307:3306
    environment:
      - MYSQL_RANDOM_ROOT_PASSWORD=yes
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}

  adminer:
    image: adminer
    restart: unless-stopped
    ports:
      - 8080:8080

volumes:
  db-data: