{% extends 'base.html.twig' %}

{% block body %}

    <twig:Nav />

    <main id="main">
      {% block main '' %}
    </main>

{% endblock %}

{% block htmx_main %}
  <title>
    {{ block('title') }}
  </title>
  {{ block('main') }}
{% endblock htmx_main %}